{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% for category in categorys %}
        <div class="col-lg-4">

            <a href="/categoriy/{{ category.sub1_title }}/{{ category.subcategory1_name }}/{{ category.id }}"><img class="thumbnail"
                                                               src="{{ category.sub1_image.url }}"></a>
            <div class="box-element product">
                <h6><strong>{{ category.subcategory1_name }}</strong></h6>
                <hr>
            </div>
        </div>
    {% endfor %}

{% endblock content %}
